* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color:  #ececee;
}

.wrapper {
  display: flex;
  height: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  flex: 0 0 200px;
  border: 1px solid #f1f1f3;
  background-color: white;
}

.polka {
  height: 70px;
  padding: 20px;
  flex-shrink: 0;
  margin:0;
  border-bottom:  1px solid #f1f1f3;;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.icon {
  height: 25px;
  
  color: #898989;
}

.top-padding{
  padding-top: 40px;
}

.bottom-padding{
  padding-bottom: 30px; 
  border-bottom: 1px solid#f1f1f3
}

.color {
  color: black;
}

nav {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

.nav-1 {
  padding: 20px;
}

.icon-padding{
  padding-right:10px ;
}

ul {
  list-style: none;
  text-align: left;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid #f1f1f3;
}

header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  height: 70px;
  padding-left: 30px;
  padding-right: 60px;
  border-bottom: 1px solid rgb(199, 199, 199);
  background-color: #ececee;
}

main {
  flex-grow: 1;
}

.search {
  width: 500px;
  height: 30px;
  padding-left: 20px;
  border-radius: 5px;
  border: #f1f1f3;
}

.card {
  background-color: aqua;
  height: 200px;
  width: 100%;
  margin: 20px;
}

button {
  background-color: #18dca1;
  color: white;
  border-radius: 10px;
  height: 30px;
  border: none;
  font-size: 16px;
  width: 200px;
}
