// All the SCSS Variables goes here
// Fonts
$font-size-base: 1rem;
$font-family:  'Poppins', sans-serif;
$font-weight:400;

//border radius
$border-radius-5:5px;
$border-radius-10:10px;

//button
$btn-height:40px;
$btn-width:100px;

//width
$width100:100%;
$width50:50%;