// Global styles goes here
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  line-height: 1.2;
  font-family: $font-family;
  font-size: $font-size-base;
  background-color: $body-bg;
}

.font-weight {
  font-weight: 300;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.h-100 {
  height: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto{
  overflow: auto;
}

.overflow-vertical {
  overflow-x: hidden;
  overflow-y: auto;
}

// flex styles
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink {
  flex-shrink: 0;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.p-bottom-90{
  padding-bottom: 90px;
}

.p-top-20 {
  padding-top: 20px;
}

.p-bottom-20 {
  padding-bottom: 20px;
}

.padding--right-left-10 {
  padding: 0 10px;
}

.padding-right-left-20 {
  padding: 0 20px;
}
